.title-background {
  // background: linear-gradient(45deg, #064c9d, #5299ea, #7598e9);
  background: linear-gradient(45deg, #6405a3, #ae1b8e, #eb40c6);
  background-size: 300% 300%;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
  color: #fff;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  .todo-card-header {
    font-weight: bold;
    text-align: center;
    background-color: #edcb50;
    color: white;
    padding: 10px;
  }

  .progress-card-header {
    font-weight: bold;
    text-align: center;
    background-color: #edcb50;
    color: white;
    padding: 10px;

  }

  .done-card-header {
    font-weight: bold;
    text-align: center;
    background-color: #edcb50;
    color: white;
    padding: 10px;

  }

  .btn-floating {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1050; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    background: #ae1b8e;
    color: #fff;
  }
  
  .btn-rounded {
    border-radius: 50%;
  }

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: relative;
  z-index: 10;
} 