.title-background {
  // background: linear-gradient(45deg, #FF512F, #DD2476, #24C6DC);
  background: linear-gradient(45deg, #064c9d, #5299ea, #7598e9);
  background-size: 300% 300%;
  height: 100px; /* Full height to the top of the page */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
  color: #fff;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  .todo-card-header {
    font-weight: bold;
    text-align: center;
    // background-color: yellow;
    background-color: #edcb50;
    color: white;
    padding: 10px;
  }

  .progress-card-header {
    font-weight: bold;
    text-align: center;
    // background-color: #3fca90;
    // background-color: green;
    background-color: #edcb50;

    color: white;
    padding: 10px;

  }

  .done-card-header {
    font-weight: bold;
    text-align: center;
    // background-color: #3b7bc4;
    background-color: #edcb50;

    color: white;
    padding: 10px;

  }

  .btn-floating {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1050; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
  }
  
  .btn-rounded {
    border-radius: 50%;
  }

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: relative;
  z-index: 10;
}

// .skeleton-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   padding: 20px; /* Adjust padding as needed */
// }

// .skeleton-card {
//   background-color: #e0e0e0; /* Light gray background */
//   border-radius: 4px;
//   padding: 15px;
//   margin-bottom: 15px;
//   height: 200px; /* Adjust height as needed */
//   width: 100%; /* Ensure it takes full width available */
// }

// .skeleton-header {
//   background-color: #bdbdbd; /* Darker gray for header */
//   height: 20px;
//   width: 60%;
//   margin-bottom: 10px;
//   border-radius: 4px;
// }

// .skeleton-body {
//   background-color: #cfcfcf; /* Slightly lighter gray for body */
//   height: 60%;
//   width: 100%;
//   border-radius: 4px;
// }

  